############################
# Maven build
############################
target/

############################
# TestNG outputs
############################
test-output/


############################
# Logs & temp
############################
*.log
logs/
reports/
screenshots/

